
div.top {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
}

.wrapper.pages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 1rem;

	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 3;
	padding: 2rem;
}

.wrapper.work {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 1rem;

	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 3;
	padding: 2rem;
}

.wrapper.about {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 1rem;

	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 3;
	padding: 2rem;
}

.column1 {
	grid-row-start: 1;
	grid-row-end: 10;
}

p.column3 {
	margin-left: 2.25rem;
}


/*IMAGES*/

img.top {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;

	width: 100%;
}



/*TYPOGRAPHY*/

span.keyword {
	padding: 0rem 0.25rem 0rem 0.25rem;
}





@media only screen and (max-width: 825px) {

	.wrapper.main {
		display: block;
		margin-left: -2px;
		width: calc(100vw - 0.2rem);
	}

	.wrapper.pages {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 1rem;

		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 3;
	}

	.wrapper.work {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		column-gap: 0rem;

		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 3;
	}

	.wrapper.about {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 1rem;

		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 2;
	}

	.wrapper.pages,
	.wrapper.work,
	.wrapper.about {
		width: calc(100% - 3rem);
		padding: 1.5rem;
		margin-top: 3rem;
	}

	div.work.pages {
		margin-bottom: 1rem;
		width: calc(100vw - 2.5rem);
	}

}
